body, html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

.bg-image {
    height: 100%;
    margin: 0;
    background-image: url(../img/bg.jpg);

    /* Add the blur effect */
    filter: blur(1px);
    -webkit-filter: blur(1px);
    -webkit-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-attachment: fixed;
}

.body-container {
    
    overflow: auto;
    
    height: 80%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    z-index: 2;
}

.navbar-dropdown-user {
    width: 20rem;
}

#style-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
	background-color: rgba(255, 253, 253, 0);
}

#style-scroll::-webkit-scrollbar
{
	width: 10px;
	/* background-color: #F5F5F5; */
}

#style-scroll::-webkit-scrollbar-thumb
{
	background-color: #FFF;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(0, 0, 0, 1) 0%,
											  rgba(0, 0, 0, 1) 25%,
											  transparent 100%,
											  rgba(0, 0, 0, 1) 75%,
											  transparent);
}